<section class="jumbotron geopattern" data-pattern-id="{{ page.title }}">
    <div class="container">
        <div id="jumbotron-meta-info">
            <h1>{{ page.title }}</h1>
            <span class="meta-info">
                {% if page.subtitle %}
                    {{ page.subtitle }}
                {% endif %}
                {% if page.date %}
                <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
                {% endif %}
                {% if page.categories %}
                    {% for cat in page.categories %}
                        <span class="octicon octicon-file-directory" style="margin-left: 5px;"></span>
                        <span class="hvr-grow">
                            <a href="/articles#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
                        </span>
                    {% endfor %}
                {% endif %}
            </span>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){

        $('.geopattern').each(function(){
            $(this).geopattern($(this).data('pattern-id'));
        });

    });
</script>